.header {
    height: 85PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: #fafafa;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.06)
}
.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15PX;
    
}
.logo__img {
    width: 192PX;
    height: 30PX;
    margin-left: 86PX;
}
.header_center a {
    font-size: 18PX;
    margin: 0 35PX;
}
.hamb_icon {
    margin-right: 50PX;
    width: 24PX;
    height: 24PX;
}
/*burger menu*/

    .hamburger-menu {
        display: flex;
        margin-right: 86PX;
        position: relative;
    }
    #menu__toggle {
        opacity: 0;
        margin-right: -10PX;
      }
      
      #menu__toggle:checked ~ .menu__btn::before {
        content: url("../img/close.svg");
        width: 24PX;
        height: 24PX;
      }
    

      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: -15PX;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        top: 20px;
        right: 20px;
      
        width: auto;
        height: 26px;
      
        cursor: pointer;
        z-index: 999;
      }
      .menu__btn::before {
        content:url("../img/menu.svg");
        text-transform: uppercase;
        width: 100%;
      }
      .menu__btn > span::before {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        
      
        transition-duration: .25s;
      }
      .menu__btn a {
        text-decoration: none;
        text-transform: uppercase;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        visibility: hidden;
        right: 0;
        width: 250PX;
        padding: 0;
        height: 380PX;
        top: -40PX;
        right: -15PX;
        list-style: none;
        z-index: 998;
        transition-duration: .25s;
        padding-top: 0PX;
        background-color: #fff;
        border-radius: 16PX;
      }
      .menu__box li {
        width: 100%;
      }
      .menu__box li:first-child {
        margin-top: 80PX;
      }
      
      .menu__item {
        display: block;
        padding: 15PX 40PX;
      width: 100%;
        font-weight: 400;
font-size: 18PX;
line-height: 130%;
letter-spacing: 0.1em;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #F2F2F2;
      }

.sticky {
  position: fixed !important;
  z-index: 999;
  left: 50%;
       transform: translateX(-50%);
}
/*768*/
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .header {
    height: 80PX;

}
  .header_center {
    display: none;
  }
  .logo__img {
    width: 116PX;
    height: 18PX;
    margin-left: 0PX;
}
.hamburger-menu {
  margin-right: 5PX;
}
.hamb_icon {
  margin-right: 30PX;
}
  }
  /*360*/
  @media only screen and (max-width: 767px) {
    .header {
      height: 60PX;

  }
    .header_center {
      display: none;
    } 
    .logo__img {
      width: 116PX;
      height: 18PX;
      margin-left: 0PX;
  }
  .hamburger-menu {
    margin-right: 5PX;
  }
  .hamb_icon {
    margin-right: 30PX;
  }
  }
  /*Special*/
  @media only screen and (min-width: 595px) and (max-width: 1439px) {
    .footer_contacrs {
      margin-top: 30PX !important;
    }
  }