/*swiper*/
.swiper-button-prev {
    content: url("../img/index/arrow.svg");
    width: 32PX !important;
    height: 32PX !important;
    margin: -45PX 0 0 35PX !important;
}
.swiper-button-next {
    content: url("../img/index/arrow.svg");
    width: 32PX !important;
    height: 32PX !important;
    rotate: 180deg;
    margin: -45PX 35PX 35PX 0PX !important;
}
.swiper {
    width: 100%;
    max-width: 1440PX;
    margin: 0 auto;
}
.block_after_slider {
    width: 100%;
    margin-top: -183PX;
    height: 64PX;
    border-radius: 25PX 25PX 0 0;
    background-color: #FAFAFA;
    z-index: 10;
    position: relative;
}
.swiper-slide {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}
.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/*catalog*/
.catalog {
    background-color: #FAFAFA;
    margin-top: -20PX;
    width: 100%;
    max-width: 1440PX;
    margin: 0 auto;
}
.catalog_wr {
    display: flex;
    flex-direction: column;
    margin: 20PX 0 0 86PX;
}
.catalog_wr h2 {
    font-size: 64PX;
    position: relative;
    margin: 0;
    padding: 0;
}
.catalog_wr h2::after {
    content: url("../img/index/cat_line.svg");
    width: 275PX;
    margin-left: -270PX;
    position: absolute;
    bottom: -20PX;
}
.catalog_plate {
    width: 100%;
    max-width: 1150PX;
    height: 415PX;
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    border-radius: 32PX;
    margin-top: 60PX;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.05);
    
}
.catalog_plate_img {
    position: relative;
    display: flex;
    flex-direction:column ;
}
.catalog_plate_img h3 {
    position: absolute;
    font-size: 36PX;
    color: #fff;
    font-weight: 100;
    left: 40PX;
}
.catalog_plate_img img {
    border-radius: 32PX 0 0 32PX;
}
.catalog_plate_img_middle img {
    border-radius: 0 32PX 32PX 0;
}
.catalog_plate_img h3::after {
    content: url("../img/index/arrow_cat.svg");
    margin-left: 20PX;
}
.catalog_plate_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 32PX;
    margin-top: 50PX;
}
.cat_card {
    width: 153PX;
    margin-right: 24PX;
    
}
.cat_card a {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cat_card img {
    background-color: #fff;
    border-radius: 16PX;
    width: 153PX;
    height: 174PX;
}
.cat_card h3 {
    font-size: 16PX;
    color: #020000;
    height: 60PX;
    font-weight: 300;
}
.img_price_wr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img_price_wr span {
    font-size: 24PX;
    font-weight: 600;
}
.img_price_wr img {
    width: 24PX;
    height: 24PX;
}
.catalog_plate_middle {
    margin-left: 120PX;
}
.block_after_catalog {
    width: 100%;
    max-width: 1440PX;
    height: 40PX;
    margin: 140PX auto 0 auto;
    background-color: #fff;
    border-radius: 32PX 32PX 0 0;

}
/*ideas*/
.ideas {
    margin-top: 45PX;
    
}
.ideas h2 {
    font-weight: 400;
    font-size: 64PX;
    color: #000;
    padding: 0;
    margin: 0;
    position: relative;
    margin-left: 86PX;
}
.ideas h2::after {
    content: url("../img/index/ideas_line.svg");
    position: absolute;
    left: 270PX;
    bottom: -15PX;
}
.ideas_wr {
    margin-top: 60PX;
    display: flex;
    flex-direction: row;
    margin-left: 86PX;
}
.ideas_card {
    width: 385PX;
    margin-right: 60PX;
}
.ideas_card img {
    width: 100%;
    height: 100%;
}
.ideas_card h3 {
    font-weight: 300;
    font-size: 24PX;
    color: #020000;
    padding: 0;
    margin: 15PX 0;
}
.block_after_ideas {
    width: 100%;
    max-width: 1440PX;
    height: 40PX;
    margin: 70PX auto 0 auto;
    background-color: #FAFAFA;
    border-radius: 64PX 64PX 0 0;
}
/*conditions*/
.conditions {
    background-color: #FAFAFA;
    width: 100%;
    max-width: 1440PX;
    margin: 0 auto;
    padding-bottom: 140PX;
}
.conditions h2 {
    font-weight: 400;
    font-size: 64PX;
    color: #000;
    margin: 45PX 0 0 86PX;
    padding: 0;
}
.conditions p {
    font-size: 24PX;
    font-weight: 300;
    color: #020000;
    margin: 45PX 0 0 86PX;
    padding: 0;
}
.delivery {
    font-size: 24PX;
    font-weight: 500;
    color: #020000;
    margin: 40PX 0 0 86PX;
    display: block;
}
.conditions_wr {
    display: flex;
    flex-direction: row;
    margin: 20PX 0 0 86PX;
}
.conditions_cart {
    width: 400PX;
    height: 195PX;
    background-color: #fff;
    border-radius: 32Px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.05);
    padding: 45PX 40PX 0 40PX;
    font-size: 24PX;
    font-weight: 300;
    margin-right: 33PX;
}
.bold {
    font-weight: 600 !important;
    margin: 0 !important;
    padding: 0 !important;
}
/*why_us*/

.whu_us_container {
    background-color: #FAFAFA;
    padding-top: 20PX;
    padding-bottom: 105PX;
}
.why_us h2 {
    font-size: 64PX;
    font-weight: 400;
    margin: -10PX 0 0 86PX;
   
}
.why_us_wr {
    display: flex;
    flex-direction: row;
    margin: 80PX 0 0 86PX;
}
.why_us_card {
    width: 280PX;
    margin-right: 48PX;
    position: relative;
}
.why_us_card img {
    width: 64PX;
    height: 64PX;
}
.why_us_card h3 {
    font-size: 24PX;
    font-weight: 500;
    color: #020000;
    margin-top: 20PX;
}
.why_us_card p {
    font-size: 18PX;
    font-weight: 300;
    color: #5C5C5C;
    margin-top: 10PX;
}
.why_us_card_title1::after {
    content: url("../img/index/smile_line.svg");
    position: absolute;
    margin-left: -110PX;
    margin-top: 10PX;
}
.why_us_card_title2::after {
    content: url("../img/index/ok_line.svg");
    position: absolute;
    margin-left: -85PX;
    margin-top: 10PX;
}
.why_us_card_title3::after {
    content: url("../img/index/star_line.svg");
    position: absolute;
    margin-left: -100PX;
    margin-top: 10PX;
}
.why_us_card_title4::after {
    content: url("../img/index/smile2_line.svg");
    position: absolute;
    margin-left: -70PX;
    margin-top: 10PX;
}
/*768*/
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  /*swiper*/

  .swiper-slide {
    width: 100%;
    height: auto;
}
.swiper-slide img {
    object-fit: cover;
    width: 100%;
    min-height: 400PX;
}
.block_after_slider {
    margin-top: -3PX;
    border-radius: 12PX 12PX 0 0;
    height: 40PX;
}
.swiper-button-prev {
    width: 20PX !important;
    height: 20PX !important;
}
.swiper-button-next {
    width: 20PX !important;
    height: 20PX !important;
}
/*catalog*/
.catalog_wr {
    margin: 0;
}
.catalog_wr h2 {
    font-size: 32PX;
    margin-left: 5PX;
}
.catalog_wr h2::after {
   left: 0;
    margin-left: -70PX;
    margin-bottom: 5PX;
    transform: scale(.5);
}
.catalog_plate {
    background: none;
    height: auto;
    flex-direction: column;
    box-shadow: none;
    margin: 25PX 0 0 0;
}
.catalog_plate_img img{
    display: none;
}
.catalog_img_titl {
    width: 100%;
}
.catalog_plate_img h3 {
    color: #0f0f0f;
    font-size: 18PX;
    margin-left: -35PX;
}
.catalog_plate_img h3::after {
    content: url("../img/index/arrow-black.svg");
}
.catalog_plate_cards {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    
}
.cat_card {
    width: 150PX;
    margin: 0 0 30PX 0;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.05);
    margin-top: 20PX;
    padding: 10PX 15PX;
}
.cat_card img {
    width: 125PX;
    height: 125PX;
}
.cat_card h3 {
    font-size: 14PX;
    height: 40PX;
}
.img_price_wr span {
    font-size: 18PX;
}
.img_price_wr img {
    width: 24PX;
    height: 24PX;
}

.catalog_plate_middle {
    margin: 40px 0 10px 0;
    flex-direction: column-reverse;
}
.block_after_catalog {
    height: 10PX;
    margin: 25PX auto 0 auto;
}
/*ideas*/
.ideas_wr {
    flex-direction: column;
    margin: 0;
    margin-top: 45PX;
}
.ideas h2 {
    font-size: 32PX;
    margin: 0;
}
.ideas h2::after {
    left: 50PX;
    transform: scale(.5);
}
.ideas_card {
    width: 100%;
    height: 46%;
}
.ideas_card img {
    max-height: 350PX;
    object-fit: cover;
    border-radius: 12PX;
}
.ideas_card h3 {
    font-size: 16PX;
    margin: 10PX 10PX 40PX 10PX;
}
.block_after_ideas {
    height: 10PX;
    margin: 0PX auto 0 auto;
}
/*conditions*/
.conditions_wr {
    flex-direction: column;
}
.conditions h2 {
    font-size: 32PX;
    margin: 30PX 0 0 5PX;
}
.conditions p {
    font-size: 18PX;
    margin: 25PX 0 0 5PX;
}
.delivery {
    font-size: 18PX;
    margin: 30PX 0 0 5PX;
}
.conditions_wr {
    margin: 0;
}
.conditions_cart {
    width: 100%;
    height: auto;
    background: none;
    box-shadow: none;
    font-size: 14PX !important;
    margin: 0 0 0 5PX;
    padding: 25PX 0 5PX 0;

}
.conditions_cart::before {
    width: 6PX; 
    height: 6PX; 
    background: #F4CC6C;
    border-radius: 9999PX;
    content: " ";
    display: inline-flex;
    margin-right: 5PX;
}
.conditions {
    padding-bottom: 60PX;
}
/*whu us*/
.why_us {
    background-color: #FAFAFA;
    width: 100%;
    max-width: 1440PX;
    margin: 0 auto;
}
.why_us_wr {
    overflow-x: scroll;
    margin: 40px 0 0 25px;
    height: 300PX;
    scrollbar-width: 0PX;
}
.why_us_wr::-webkit-scrollbar {
    display: none;
  }
  .why_us_wr {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
  }
.why_us h2 {
    font-size: 32PX;
    margin: -10PX 0 0 5PX;
}
.why_us_card img {
    width: 32PX;
    height: 32PX;
}
.why_us_card h3 {
    font-size: 18PX;
    width: 100%;
    width: 200PX;
    margin-top: 10PX;
}
.why_us_card p {
    font-size: 14PX;
    width: 100%;
    width: 200PX;
}
.why_us_card {
    width: 210PX;
    height: 263PX;
    background: #FAFAFA;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.05);
    padding: 6PX;
    border-radius: 12PX;
    margin-right: 16PX;
}
.why_us_card_title1::after {
    transform: scale(.8);
    margin-left: -95PX;
}
.why_us_card_title2::after {
    transform: scale(.8);
    margin-left: -75PX;
}
.why_us_card_title3::after {
    transform: scale(.8);
    margin-left: -85PX;
}
.why_us_card_title4::after {
    transform: scale(.8);
    margin-left: -65PX;
}
.whu_us_container {
    padding-bottom: 0;
}

    }
    /*360*/
    @media only screen and (max-width: 767px) {
          /*swiper*/

   .swiper-slide {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
}
.swiper-slide img {
    object-fit: cover;
    width: 100%;
    min-height: 300PX;
}
.block_after_slider {
    margin-top: -3PX;
    border-radius: 12PX 12PX 0 0;
    height: 40PX;
}
.swiper-button-prev {
    width: 20PX !important;
    height: 20PX !important;
}
.swiper-button-next {
    width: 20PX !important;
    height: 20PX !important;
}
/*catalog*/
.catalog_wr {
    margin: 0;
}
.catalog_wr h2 {
    font-size: 32PX;
    margin-left: 5PX;
}
.catalog_wr h2::after {
   left: 0;
    margin-left: -70PX;
    margin-bottom: 5PX;
    transform: scale(.5);
}
.catalog_plate {
    background: none;
    height: auto;
    flex-direction: column;
    box-shadow: none;
    margin: 25PX 0 0 0;
}
.catalog_plate_img img{
    display: none;
}
.catalog_img_titl {
    width: 100%;
}
.catalog_plate_img h3 {
    color: #0f0f0f;
    font-size: 18PX;
    margin-left: -35PX;
}
.catalog_plate_img h3::after {
    content: url("../img/index/arrow-black.svg");
}
.catalog_plate_cards {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    
}
.cat_card {
    width: 150PX;
    margin: 0 0 30PX 0;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.05);
    margin-top: 20PX;
    padding: 10PX 15PX;
    border-radius: 12PX;
    
    border-radius: 12PX;
}
.cat_card img {
    width: 125PX;
    height: 125PX;
}
.cat_card h3 {
    font-size: 14PX;
    height: 40PX;
}
.img_price_wr span {
    font-size: 18PX;
}
.img_price_wr img {
    width: 24PX;
    height: 24PX;
}

.catalog_plate_middle {
    margin: 40px 0 10px 0;
    flex-direction: column-reverse;
}
.block_after_catalog {
    height: 10PX;
    margin: 25PX auto 0 auto;
}
/*ideas*/
.ideas_wr {
    flex-direction: column;
    margin: 0;
    margin-top: 45PX;
}
.ideas h2 {
    font-size: 32PX;
    margin: 0;
}
.ideas h2::after {
    left: 50PX;
    transform: scale(.5);
}
.ideas_card {
    width: 100%;
    height: 46%;
}
.ideas_card img {
    object-fit: cover;
    border-radius: 12PX;
}
.ideas_card h3 {
    font-size: 14PX;
    margin: 10PX 10PX 40PX 10PX;
}
.block_after_ideas {
    height: 10PX;
    margin: 0PX auto 0 auto;
}
/*conditions*/
.conditions_wr {
    flex-direction: column;
}
.conditions h2 {
    font-size: 32PX;
    margin: 30PX 0 0 5PX;
}
.conditions p {
    font-size: 18PX;
    margin: 25PX 0 0 5PX;
}
.delivery {
    font-size: 18PX;
    margin: 30PX 0 0 5PX;
}
.conditions_wr {
    margin: 0;
}
.conditions_cart {
    width: 100%;
    height: auto;
    background: none;
    box-shadow: none;
    font-size: 14PX !important;
    margin: 0 0 0 5PX;
    padding: 25PX 0 5PX 0;

}
.conditions_cart::before {
    width: 6PX; 
    height: 6PX; 
    background: #F4CC6C;
    border-radius: 9999PX;
    content: " ";
    display: inline-flex;
    margin-right: 5PX;
}
.conditions {
    padding-bottom: 60PX;
}
/*whu us*/
.why_us_wr {
    overflow-x: scroll;
    margin: 40px 0 0 25px;
    height: 300PX;
    scrollbar-width: 0PX;
}
.why_us_wr::-webkit-scrollbar {
    display: none;
  }
  .why_us_wr {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
  }
.why_us h2 {
    font-size: 32PX;
    margin: -10PX 0 0 5PX;
}
.why_us_card img {
    width: 32PX;
    height: 32PX;
}
.why_us_card h3 {
    font-size: 18PX;
    width: 100%;
    width: 200PX;
    margin-top: 10PX;
}
.why_us_card p {
    font-size: 14PX;
    width: 100%;
    width: 200PX;
}
.why_us_card {
    width: 210PX;
    height: 263PX;
    background: #FAFAFA;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.05);
    padding: 6PX;
    border-radius: 12PX;
    margin-right: 16PX;
}
.why_us_card_title1::after {
    transform: scale(.8);
    margin-left: -95PX;
}
.why_us_card_title2::after {
    transform: scale(.8);
    margin-left: -75PX;
}
.why_us_card_title3::after {
    transform: scale(.8);
    margin-left: -85PX;
}
.why_us_card_title4::after {
    transform: scale(.8);
    margin-left: -65PX;
}
.whu_us_container {
    padding-bottom: 0;
}
}
/*spicial sizes*/
@media only screen and (max-width: 460px) {
    .ideas_card img {
        max-height: 151PX;
    }
}
@media only screen and (min-width: 460px) and (max-width: 768px)   {
    .ideas_card img {
        max-height: 250PX;
    }
} 
@media only screen and (min-width: 390px) and (max-width: 768px)   {
    .swiper-slide {
        aspect-ratio: 12/5;
    }
}  
@media only screen and (min-width: 768px) and (max-width: 1439px)   {
    .swiper-slide {
        aspect-ratio: 9/3;
    }
}   
